body {
	font-family: Open Sans;
	font-weight: 300;
	color: #ffffff;
}

/** Loading **/
#loading {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #03A678;
	z-index: 99999;
}

#loading svg {
	width: 100px;
	margin-top: 20%;
}

#loading h1 {
	font-weight: 300;
}

#loading h1 strong {
	font-weight: 600;
}

@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}

@keyframes blinking {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes jump {
	0% { margin-top: 0; }
	50% { margin-top: 30px; }
	100% { margin-top: 0; }
}

#loading svg path#g {
	transform-origin: center 47%;
	animation: rotate 1s infinite ease-in-out;
}

#loading svg {
	animation: blinking 2s infinite ease-in-out;
}

#loading h1 {
	animation: jump 1s infinite ease-in-out;
}
/** Navbar **/
.navbar {
	padding: 10px 40px;
}

.navbar-default {
	background: transparent;
	border: none;
}

.navbar-brand {
	position: relative;
}

.navbar-brand>img {
	position: absolute;
	top: 0;
	margin-top: 4px;
	width: 40px;
}

ul.navbar-nav {
	margin-right: 20px;
}

.navbar-default .navbar-nav>li>a {
	font-size: 20px;
	color: #dfdfdf !important;
}

.navbar-default .navbar-nav>li>a:hover {
	background: none;
	color: #ffffff !important;
}

.navbar-scrolled {
	background: #F62459;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	transform: scale(0.7);
}

.navbar {
	transition: all .2s ease-in-out;
}

/** Pages **/
.page {
	height: 100vh;
}

/** About Page **/
#about {
	background-color: #7f9972;
}

#about h1 {
	font-size: 60px;
	font-weight: 300;
}

#name {
	font-weight: 400;
	position: relative;
}

#name::after {
	content: 'Web Designer';
	font-size: 20px;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: -10px auto;
}

/** Portfolio Page **/
#portfolio {
	background-color: #446CB3;
}

#wrap {
	perspective: 1600px;
	perspective-origin: 50% 100px;
	z-index: 0;
}

#cube {
	transform-style: preserve-3d;
}

#cube div {
	display: block;
	position: absolute;
	transform-origin: 50% 50% 0;
	overflow: hidden;

}
 
@keyframes spin {
	from { transform: rotateY(0deg); }
	to { transform: rotateY(-90deg); }
}

#cube {
	/*animation: spin 1s infinite linear;*/
}

#controls {
	position: absolute;
	bottom: 0;
	z-index: 1;
}

#controls a {
	margin-left: 10px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	transition: all .1s ease-in-out;
}

#controls a:hover {
	color: rgba(255, 255, 255, 0.8);
}

/** Contact Page **/
#contact {
	background-color: #4183D7;
}

#contact h3 {
	font-size: 21px;
	font-weight: 300;
}

#email h1 {
	font-weight: 300;
}

#email a {
	text-decoration: none;
	color: #ffffff;	
}

#social-media img {
	width: 50px;
	margin: 15px 10px;
	opacity: 0.2;
	transition: all .2s ease-in-out;
}

#social-media img:hover {
	opacity: 1;
}
